a{color: #00c0ff;}
.thanks{background-color: #02619a;color: #fff;}
.interes{color: #fff;font-size: 30px;}
.recibido{margin-top: 30px;}
.imgGracias{width: 300px;margin-top: 40px;}
.revisar{margin-top: 20px; font-size: 19px;}