.service-item {
  margin: 60px 0;
  border: none;
  height: auto;
}
.service-item:hover {
  border: none;
}
.service-item i {
  top: -30px;
  margin-bottom: 0;
}
.service-item h5 {
  top: -30px;
  margin-bottom: 0;
}
.service-item .service-desc {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.service-item .service-desc p {
  font-size: 15px;
}